jarvis-profe/n8n-flows-backup/01-motor-contenido-automatico.json
{
  "name": "Motor de Contenido Automático - A2K Demo",
  "nodes": [
    {"parameters":{},"id":"dc0a90bb-9ecc-4e24-9109-dd5545b71269","name":"Ejecutar Manualmente","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1104,128]},
    {"parameters":{"assignments":{"assignments":[{"id":"a1","name":"nombre_empresa","value":"A2K Digital Studio","type":"string"},{"id":"a2","name":"nicho","value":"soluciones de IA y automatizacion para negocios","type":"string"},{"id":"a3","name":"tono","value":"profesional, cercano, seguro de si mismo","type":"string"},{"id":"a4","name":"publico_objetivo","value":"dueños de pequeños negocios (barberias, restaurantes, bodegas) que pierden clientes por no contestar rapido","type":"string"},{"id":"a5","name":"productos_servicios","value":"Recepcionista IA por WhatsApp, POS con IA (Comandas/Bodega/Barberia Pro)","type":"string"},{"id":"a6","name":"plataformas_destino","value":"LinkedIn, Instagram feed","type":"string"},{"id":"a7","name":"plataforma_principal","value":"LinkedIn","type":"string"},{"id":"a8","name":"objetivo_principal","value":"generacion de leads B2B","type":"string"},{"id":"a9","name":"variante_es","value":"es-LA","type":"string"},{"id":"a10","name":"zona_horaria","value":"America/Caracas","type":"string"},{"id":"a11","name":"url_destino_principal","value":"https://a2kdigitalstudio.online","type":"string"}]},"options":{}},"id":"d9b1f4e6-0ef2-410f-b766-d95390f05ab3","name":"Datos del Negocio","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-880,128]},
    {"parameters":{"jsCode":"const biz = $input.first().json;\nconst now = new Date();\nconst fecha_publicacion = now.toISOString().slice(0,10);\nconst YYYYMM = fecha_publicacion.slice(0,7).replace('-','');\nconst utm_campaign = (biz.nombre_empresa || '').replace(/\\s+/g,'') + '_' + YYYYMM;\nconst utm = JSON.stringify({ source: biz.plataforma_principal, medium: 'social', campaign: utm_campaign, content: 'pieza_unica' });\n\nconst system_prompt = `Eres el estratega de contenido de ${biz.nombre_empresa}, negocio de ${biz.nicho}.\nTono: ${biz.tono}. Publico: ${biz.publico_objetivo}. Productos: ${biz.productos_servicios}. Plataforma principal: ${biz.plataforma_principal}. Objetivo: ${biz.objetivo_principal}.\n\nGenera UNA pieza de contenido para el ${fecha_publicacion} que conecte un dolor real de ese publico con uno de los productos, y cierre con una accion clara.\nEstilo: humano y cercano, sin cliches de IA (nada de \"revoluciona\", \"en la era digital\"). Incluye una microprueba (dato o ejemplo).\n\nResponde UNICAMENTE con JSON valido, sin texto extra, con estas llaves:\n- \"idea\": concepto central en 1 frase.\n- \"caption\": listo para publicar (gancho, dolor, beneficio+microprueba, CTA). Maximo 80 palabras.\n- \"hashtags\": array de 4 a 6 strings.\n- \"image_prompt\": escena fotografica realista (sujeto, entorno, luz), sin texto ni marcas de agua, aspect_ratio 4:5.`;\n\nreturn [{ json: { ...biz, fecha_publicacion, YYYYMM, utm_campaign, system_prompt } }];"},"id":"8d22fcf9-d27e-49b5-855d-3881e19b1f95","name":"Armar Prompt Maestro","type":"n8n-nodes-base.code","typeVersion":2,"position":[-656,128]},
    {"parameters":{"method":"POST","url":"https://hills-every-etc-excellent.trycloudflare.com/api/chat","sendHeaders":true,"headerParameters":{"parameters":[{"name":"content-type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ model: 'qwen2.5:3b', stream: false, format: 'json', options: { num_predict: 300, temperature: 0.3 }, messages: [ { role: 'system', content: $json.system_prompt }, { role: 'user', content: 'Genera la pieza de contenido de hoy. Responde solo el JSON pedido, breve y directo.' } ] }) }}\n","options":{}},"id":"1d62c3cd-7987-4dbf-9e37-9047689fc560","name":"IA Local (Ollama) - Generar Contenido","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-448,128]},
    {"parameters":{"jsCode":"const resp = $input.first().json;\nconst textoBruto = resp.message.content;\nconst limpio = textoBruto.trim().replace(/^```json\\s*/i, '').replace(/```\\s*$/, '');\nconst contenido = JSON.parse(limpio);\nreturn [{ json: contenido }];"},"id":"38f2e3ac-43c6-4abb-a34a-ad8726214f18","name":"Parsear JSON de IA","type":"n8n-nodes-base.code","typeVersion":2,"position":[-224,128]},
    {"parameters":{"url":"=https://image.pollinations.ai/prompt/{{ encodeURIComponent($json.image_prompt) }}","options":{"response":{"response":{"responseFormat":"file"}}}},"id":"539a4bf1-2a56-4994-b60d-1f887d02658f","name":"Generar Imagen (Pollinations)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,0]},
    {"parameters":{},"id":"f6aa7bc5-2300-474c-a0a3-fd876ea76771","name":"Publicar en Redes (configurar credenciales)","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[224,0]},
    {"parameters":{"method":"POST","url":"https://workflow-wheat-macro-strip.trycloudflare.com/send-text","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ phone: '584126148666', message: 'Se generó contenido nuevo: ' + $json.idea + '\\n\\nCaption:\\n' + $json.caption }) }}","options":{}},"id":"a7a366e9-517d-42e3-b6a5-c4c1dd3c5924","name":"Notificar por WhatsApp (Jarvis)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,240]},
    {"parameters":{},"id":"be63a90f-6678-43d5-b080-eaf3b4394ae3","name":"Registrar en Sheet/Airtable (configurar)","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[224,240]},
    {"parameters":{"content":"## Estado actual (2026-07-18)\n\n✅ Ya funciona solo (Datos del negocio → Prompt → IA Local (Ollama, qwen2.5:3b) → Parsear → Imagen Pollinations) sin depender de Claude ni Gemini.\n\n⚠️ Requiere Ollama + tunel cloudflared corriendo en la PC apuntando a localhost:11434.\n\n## Pasos manuales pendientes\n1. Notificar por WhatsApp: cambia la URL por el tunel real a localhost:3099/send-text.\n2. Publicar en Redes: reemplaza el NoOp por un nodo real (Buffer, Meta Graph API, etc).\n3. Registrar en Sheet/Airtable: reemplaza el NoOp por un nodo real.","height":380,"width":460},"id":"370b77d8-07a4-4a4a-863c-b8c683300f8c","name":"Nota","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[448,0]}
  ],
  "connections": {
    "Ejecutar Manualmente":{"main":[[{"node":"Datos del Negocio","type":"main","index":0}]]},
    "Datos del Negocio":{"main":[[{"node":"Armar Prompt Maestro","type":"main","index":0}]]},
    "Armar Prompt Maestro":{"main":[[{"node":"IA Local (Ollama) - Generar Contenido","type":"main","index":0}]]},
    "Generar Imagen (Pollinations)":{"main":[[{"node":"Publicar en Redes (configurar credenciales)","type":"main","index":0}]]},
    "Notificar por WhatsApp (Jarvis)":{"main":[[{"node":"Registrar en Sheet/Airtable (configurar)","type":"main","index":0}]]},
    "IA Local (Ollama) - Generar Contenido":{"main":[[{"node":"Parsear JSON de IA","type":"main","index":0}]]},
    "Parsear JSON de IA":{"main":[[{"node":"Generar Imagen (Pollinations)","type":"main","index":0},{"node":"Notificar por WhatsApp (Jarvis)","type":"main","index":0}]]}
  },
  "settings": {"executionOrder":"v1"}
}
