jarvis-profe/n8n-flows-backup/02-asistente-ejecutivo-gmail-calendario.json
{
  "name": "Asistente Ejecutivo con IA (Gmail + Calendario) - A2K Demo",
  "description": "Demo B2B avanzado para LinkedIn: vigila Gmail, clasifica correos con IA, agenda reuniones en Calendario y avisa al ejecutivo por WhatsApp",
  "nodes": [
    {"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"simple":false,"maxResults":5,"filters":{"q":"is:unread -label:procesado-ia","readStatus":"unread"},"options":{}},"id":"dc5ba9eb-38fa-41f6-868d-c9bbb18b3e8d","name":"Vigilar Bandeja de Entrada","type":"n8n-nodes-base.gmailTrigger","typeVersion":1.4,"position":[0,192]},
    {"parameters":{"mode":"runOnceForAllItems","jsCode":"const e = $input.first().json;\nconst remitente = (e.from && (e.from.text || e.from.value?.[0]?.address)) || '';\nconst asunto = e.subject || '';\nconst cuerpo = (e.text || e.snippet || '').substring(0, 1500);\n\nconst now = new Date();\nconst propuesta = new Date(now);\npropuesta.setDate(propuesta.getDate() + 1);\nwhile (propuesta.getDay() === 0 || propuesta.getDay() === 6) propuesta.setDate(propuesta.getDate() + 1);\npropuesta.setHours(10, 0, 0, 0);\nconst propuesta_fin = new Date(propuesta.getTime() + 30 * 60000);\n\nconst system_prompt = `Eres el asistente ejecutivo con IA de A2K Digital Studio. Clasificas correos entrantes y redactas la respuesta.\n\nCorreo recibido:\n- de: ${remitente}\n- asunto: ${asunto}\n- cuerpo: ${cuerpo}\n\nReglas de clasificacion:\n- REUNION: pide agendar una llamada, reunion o cita.\n- URGENTE: cliente con un problema o solicitud que necesita atencion humana pronto, pero no pide reunion.\n- OTRO: boletin, spam, notificacion automatica, o correo sin accion clara.\n\nResponde UNICAMENTE con un JSON valido, sin texto extra:\n- \"categoria\": \"REUNION\" o \"URGENTE\" o \"OTRO\"\n- \"resumen\": resumen de 1 frase para el ejecutivo\n- \"asunto_respuesta\": asunto corto para la respuesta (agregar \"Re: \" si aplica)\n- \"respuesta_sugerida\": cuerpo de la respuesta en espanol, profesional y calido, maximo 4 frases. Si es REUNION, confirma el horario propuesto: ${propuesta.toLocaleString('es-VE')}.`;\n\nreturn [{ json: { ...e, remitente, system_prompt, propuesta_inicio: propuesta.toISOString(), propuesta_fin: propuesta_fin.toISOString() } }];"},"id":"4ba14275-7834-44b9-a7fa-25dfd9ff20ca","name":"Armar Prompt de Triage","type":"n8n-nodes-base.code","typeVersion":2,"position":[224,192]},
    {"parameters":{"method":"POST","url":"https://hills-every-etc-excellent.trycloudflare.com/api/chat","sendHeaders":true,"headerParameters":{"parameters":[{"name":"content-type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ model: 'qwen2.5:3b', stream: false, format: 'json', options: { num_predict: 400, temperature: 0.2 }, messages: [ { role: 'system', content: $json.system_prompt }, { role: 'user', content: 'Clasifica este correo y redacta la respuesta siguiendo las instrucciones.' } ] }) }}","options":{}},"id":"3b8015a2-d42b-4f88-a062-8896d256bbb9","name":"IA Local (Ollama) - Clasificar Correo","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[448,192]},
    {"parameters":{"mode":"runOnceForAllItems","jsCode":"const original = $('Armar Prompt de Triage').first().json;\nconst resp = $input.first().json;\nconst textoBruto = resp.message.content;\nconst limpio = textoBruto.trim().replace(/^```json\\s*/i, '').replace(/```\\s*$/, '');\nconst contenido = JSON.parse(limpio);\nreturn [{ json: { ...contenido, messageId: original.id, remitente: original.remitente, propuesta_inicio: original.propuesta_inicio, propuesta_fin: original.propuesta_fin } }];"},"id":"8405fde3-15f2-4f62-9389-a154e4211b03","name":"Parsear Clasificacion","type":"n8n-nodes-base.code","typeVersion":2,"position":[672,192]},
    {"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.categoria }}","operator":{"type":"string","operation":"equals"},"rightValue":"REUNION"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"leftValue":"={{ $json.categoria }}","operator":{"type":"string","operation":"equals"},"rightValue":"URGENTE"}],"combinator":"and"}}]},"options":{"fallbackOutput":"extra","renameFallbackOutput":"Otro"}},"id":"c13659f2-f745-4bc3-b389-dc3bf13d7fac","name":"Enrutar por Categoria","type":"n8n-nodes-base.switch","typeVersion":3.4,"position":[896,176]},
    {"parameters":{"resource":"calendar","calendar":{"__rl":true,"mode":"list","value":"primary"},"timeMin":"={{ $json.propuesta_inicio }}","timeMax":"={{ $json.propuesta_fin }}","options":{},"operation":"availability"},"id":"08f2b2ad-2a4a-4f34-b207-55d3b5660e99","name":"Revisar Disponibilidad","type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[1120,0]},
    {"parameters":{"calendar":{"__rl":true,"mode":"list","value":"primary"},"start":"={{ $('Parsear Clasificacion').first().json.propuesta_inicio }}","end":"={{ $('Parsear Clasificacion').first().json.propuesta_fin }}","additionalFields":{"attendees":["={{ $('Parsear Clasificacion').first().json.remitente }}"],"description":"={{ $('Parsear Clasificacion').first().json.resumen }}","summary":"={{ $('Parsear Clasificacion').first().json.asunto_respuesta }}"},"resource":"event","operation":"create"},"id":"88e7a580-b27b-4809-9f88-47183295c739","name":"Crear Evento en Calendario","type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[1344,0]},
    {"parameters":{"operation":"reply","messageId":"={{ $('Parsear Clasificacion').first().json.messageId }}","emailType":"text","message":"={{ $('Parsear Clasificacion').first().json.respuesta_sugerida }}","options":{}},"id":"10342236-9d7c-40cb-ae40-8d389e07aac7","name":"Responder Confirmando Reunion","type":"n8n-nodes-base.gmail","typeVersion":2.2,"position":[1568,0],"webhookId":"043f1507-57f1-426d-9e14-dab87a0cfabf"},
    {"parameters":{"method":"POST","url":"https://workflow-wheat-macro-strip.trycloudflare.com/send-text","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ phone: '584164117331', message: 'Correo URGENTE de ' + $json.remitente + ': ' + $json.resumen + ' | Respuesta sugerida: ' + $json.respuesta_sugerida }) }}","options":{}},"id":"9edc04bb-08f4-45c0-8ec8-097b1186e1f6","name":"Notificar Ejecutivo (WhatsApp)","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1120,192]},
    {"parameters":{},"id":"7c598be4-e8db-42e1-af1d-6cf60c58b9f6","name":"Archivar (Sin Accion)","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1120,384]}
  ],
  "connections": {
    "Vigilar Bandeja de Entrada":{"main":[[{"node":"Armar Prompt de Triage","type":"main","index":0}]]},
    "Armar Prompt de Triage":{"main":[[{"node":"IA Local (Ollama) - Clasificar Correo","type":"main","index":0}]]},
    "IA Local (Ollama) - Clasificar Correo":{"main":[[{"node":"Parsear Clasificacion","type":"main","index":0}]]},
    "Parsear Clasificacion":{"main":[[{"node":"Enrutar por Categoria","type":"main","index":0}]]},
    "Enrutar por Categoria":{"main":[[{"node":"Revisar Disponibilidad","type":"main","index":0}],[{"node":"Notificar Ejecutivo (WhatsApp)","type":"main","index":0}],[{"node":"Archivar (Sin Accion)","type":"main","index":0}]]},
    "Revisar Disponibilidad":{"main":[[{"node":"Crear Evento en Calendario","type":"main","index":0}]]},
    "Crear Evento en Calendario":{"main":[[{"node":"Responder Confirmando Reunion","type":"main","index":0}]]}
  },
  "settings": {"executionOrder":"v1"}
}
