jarvis-profe/n8n-flows-backup/03-onboarding-automatico-clientes.json
{
  "name": "Onboarding Automático de Clientes con IA - A2K Demo",
  "description": "Demo B2B para LinkedIn: arranca automáticamente a un cliente nuevo con bienvenida, checklist de documentos y aviso al equipo interno",
  "nodes": [
    {"id":"f9f64626-7ff9-4139-92ad-01f906b98738","name":"Recibir Cliente Nuevo","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,0],"parameters":{"httpMethod":"POST","path":"cliente-nuevo-a2k","authentication":"none","responseMode":"responseNode","options":{}},"webhookId":"047bd2a4-a688-4833-9850-b332e680565d"},
    {"id":"67a7a4ec-e96f-4ff2-8369-7f5ef8ef0acf","name":"Armar Prompt de Onboarding","type":"n8n-nodes-base.code","typeVersion":2,"position":[224,0],"parameters":{"mode":"runOnceForAllItems","jsCode":"const c = $input.first().json.body || $input.first().json;\nconst nombre = c.nombre || 'Cliente';\nconst empresa = c.empresa || 'su empresa';\nconst rubro = c.rubro || 'servicios profesionales';\nconst servicio = c.servicio_contratado || 'el servicio contratado';\nconst cerrado_por = c.cerrado_por || 'el equipo comercial';\n\nconst system_prompt = `Eres el asistente de onboarding de A2K Digital Studio, encargado de arrancar bien a cada cliente nuevo que firma con una empresa cliente.\n\nDatos del cliente nuevo:\n- nombre: ${nombre}\n- empresa: ${empresa}\n- rubro de la empresa: ${rubro}\n- servicio contratado: ${servicio}\n- cerrado por: ${cerrado_por}\n\nTarea: genera el paquete de bienvenida y arranque para este cliente.\n\nResponde UNICAMENTE con un JSON valido, sin texto extra, con estas llaves:\n- \"bienvenida_cliente\": mensaje corto, calido y profesional en espanol dirigido al cliente, agradeciendo su confianza y explicando el siguiente paso. Maximo 4 frases.\n- \"documentos_requeridos\": array de 2 a 5 strings con los documentos o datos tipicos que se necesitarian pedirle a una empresa de ese rubro para arrancar (ej. datos fiscales, logo, accesos, contactos clave).\n- \"resumen_interno\": 1-2 frases para que el equipo interno sepa quien es el cliente y que necesita, sin lenguaje de venta.\n- \"departamento_responsable\": el area interna que deberia encargarse del arranque (ej. \"Legal\", \"Operaciones\", \"Cuentas\", \"Exito del Cliente\").`;\n\nreturn [{ json: { ...c, system_prompt } }];"}},
    {"id":"c9872d24-aa83-4931-9829-92b521635685","name":"IA Local (Ollama) - Generar Onboarding","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[448,0],"parameters":{"method":"POST","url":"https://hills-every-etc-excellent.trycloudflare.com/api/chat","authentication":"none","sendHeaders":true,"headerParameters":{"parameters":[{"name":"content-type","value":"application/json"}]},"sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={{ JSON.stringify({ model: 'qwen2.5:3b', stream: false, format: 'json', options: { num_predict: 400, temperature: 0.3 }, messages: [ { role: 'system', content: $json.system_prompt }, { role: 'user', content: 'Genera el paquete de onboarding para este cliente nuevo siguiendo las instrucciones.' } ] }) }}","options":{}}},
    {"id":"5902bf47-1725-469c-9547-c1935a7e9558","name":"Parsear Onboarding","type":"n8n-nodes-base.code","typeVersion":2,"position":[672,0],"parameters":{"mode":"runOnceForAllItems","jsCode":"const resp = $input.first().json;\nconst textoBruto = resp.message.content;\nconst limpio = textoBruto.trim().replace(/^```json\\s*/i, '').replace(/```\\s*$/, '');\nconst contenido = JSON.parse(limpio);\nreturn [{ json: contenido }];"}},
    {"id":"a5456f43-df2b-4153-abe9-e9a3514b7370","name":"Notificar Equipo Interno (WhatsApp)","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[896,0],"parameters":{"method":"POST","url":"https://workflow-wheat-macro-strip.trycloudflare.com/send-text","authentication":"none","sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={{ JSON.stringify({ phone: '584164117331', message: 'Cliente nuevo (' + $json.departamento_responsable + '): ' + $json.resumen_interno + ' Documentos a pedir: ' + $json.documentos_requeridos.join(', ') }) }}","options":{}}},
    {"id":"4eafff5a-8e03-426e-ab93-90b0917ee2a2","name":"Responder al Cliente","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[1120,0],"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ mensaje: $json.bienvenida_cliente, departamento_responsable: $json.departamento_responsable, documentos_requeridos: $json.documentos_requeridos }) }}","options":{}}}
  ],
  "connections": {
    "Recibir Cliente Nuevo":{"main":[[{"node":"Armar Prompt de Onboarding","type":"main","index":0}]]},
    "Armar Prompt de Onboarding":{"main":[[{"node":"IA Local (Ollama) - Generar Onboarding","type":"main","index":0}]]},
    "IA Local (Ollama) - Generar Onboarding":{"main":[[{"node":"Parsear Onboarding","type":"main","index":0}]]},
    "Parsear Onboarding":{"main":[[{"node":"Notificar Equipo Interno (WhatsApp)","type":"main","index":0}]]},
    "Notificar Equipo Interno (WhatsApp)":{"main":[[{"node":"Responder al Cliente","type":"main","index":0}]]}
  },
  "settings": {"executionOrder":"v1"},
  "_produccion": {
    "webhook_url": "https://a2kdigitalstudio2025.app.n8n.cloud/webhook/047bd2a4-a688-4833-9850-b332e680565d/cliente-nuevo-a2k"
  }
}
