jarvis-profe/n8n-flows-backup/04-respuesta-instantanea-leads.json
{
  "name": "Respuesta Instantánea de Leads con IA - A2K Demo",
  "description": "Demo B2B para LinkedIn: califica leads entrantes con IA local y responde al instante",
  "nodes": [
    {"id":"3e1943cf-90ec-4739-99de-4634303b9f8a","name":"Recibir Lead","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,96],"parameters":{"httpMethod":"POST","path":"lead-nuevo-a2k","authentication":"none","responseMode":"responseNode","options":{}},"webhookId":"d9032b6e-3664-49d6-a07b-896cd5cbd811"},
    {"id":"cf432fd0-cfe4-4950-8353-28f86668b6f2","name":"Armar Prompt de Calificacion","type":"n8n-nodes-base.code","typeVersion":2,"position":[224,96],"parameters":{"mode":"runOnceForAllItems","jsCode":"const lead = $input.first().json.body || $input.first().json;\nconst nombre = lead.nombre || 'Sin nombre';\nconst empresa = lead.empresa || 'Sin empresa';\nconst mensaje = lead.mensaje || '';\nconst canal = lead.canal || 'formulario web';\n\nconst system_prompt = `Eres un asistente de calificacion de leads B2B para A2K Digital Studio, una empresa que construye automatizaciones con IA para negocios.\n\nDatos del lead:\n- nombre: ${nombre}\n- empresa: ${empresa}\n- canal: ${canal}\n- mensaje: ${mensaje}\n\nTarea: califica este lead y redacta una respuesta inicial personalizada.\n\nReglas de calificacion:\n- CALIENTE: menciona un dolor concreto (perdida de clientes, tiempo de respuesta, procesos manuales) o pide precio/demo directamente.\n- TIBIO: pregunta general sobre servicios sin dolor especifico.\n- FRIO: mensaje vago, spam, o sin intencion clara de compra.\n\nResponde UNICAMENTE con un JSON valido, sin texto extra, con estas llaves:\n- \"categoria\": \"CALIENTE\" o \"TIBIO\" o \"FRIO\"\n- \"puntuacion\": numero de 0 a 100\n- \"razon\": explicacion breve de la calificacion (1 frase)\n- \"respuesta_sugerida\": mensaje corto, profesional y cercano en espanol, agradeciendo el contacto y proponiendo el siguiente paso (agendar llamada o pedir mas detalles). Maximo 3 frases.`;\n\nreturn [{ json: { ...lead, system_prompt } }];"}},
    {"id":"d71bdb90-4798-4465-9bf3-ad1935e7ade3","name":"IA Local (Ollama) - Calificar Lead","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[448,96],"parameters":{"method":"POST","url":"https://hills-every-etc-excellent.trycloudflare.com/api/chat","authentication":"none","sendHeaders":true,"headerParameters":{"parameters":[{"name":"content-type","value":"application/json"}]},"sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={{ JSON.stringify({ model: 'qwen2.5:3b', stream: false, format: 'json', options: { num_predict: 350, temperature: 0.2 }, messages: [ { role: 'system', content: $json.system_prompt }, { role: 'user', content: 'Califica este lead y responde con el JSON pedido.' } ] }) }}","options":{}}},
    {"id":"c396f92b-8dbf-4815-8c1c-5f6af980fafb","name":"Parsear Calificacion","type":"n8n-nodes-base.code","typeVersion":2,"position":[672,96],"parameters":{"mode":"runOnceForAllItems","jsCode":"const resp = $input.first().json;\nconst textoBruto = resp.message.content;\nconst limpio = textoBruto.trim().replace(/^```json\\s*/i, '').replace(/```\\s*$/, '');\nconst contenido = JSON.parse(limpio);\nreturn [{ json: contenido }];"}},
    {"id":"f4d0c26b-d557-402f-b36f-09f9c9073e94","name":"Es Lead Caliente?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[896,96],"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.categoria }}","operator":{"type":"string","operation":"equals"},"rightValue":"CALIENTE"}],"combinator":"and"}}},
    {"id":"ca2c746e-62b4-4b1a-9f73-a66bcf7a4724","name":"Notificar Ventas (WhatsApp)","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1120,0],"parameters":{"method":"POST","url":"https://workflow-wheat-macro-strip.trycloudflare.com/send-text","authentication":"none","sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={{ JSON.stringify({ phone: '584164117331', message: 'Lead CALIENTE nuevo (' + $json.puntuacion + '/100): ' + $json.razon }) }}","options":{}}},
    {"id":"84bdc7bb-fd1d-423c-b703-b34a9b8ab06b","name":"Responder al Lead","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[1344,96],"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ mensaje: $json.respuesta_sugerida, categoria: $json.categoria }) }}","options":{}}},
    {"id":"798317b0-a165-46b7-943a-43d61d5dbccc","name":"Registrar Lead (Sheet/Airtable)","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1120,192],"parameters":{}}
  ],
  "connections": {
    "Recibir Lead":{"main":[[{"node":"Armar Prompt de Calificacion","type":"main","index":0}]]},
    "Armar Prompt de Calificacion":{"main":[[{"node":"IA Local (Ollama) - Calificar Lead","type":"main","index":0}]]},
    "IA Local (Ollama) - Calificar Lead":{"main":[[{"node":"Parsear Calificacion","type":"main","index":0}]]},
    "Parsear Calificacion":{"main":[[{"node":"Es Lead Caliente?","type":"main","index":0}]]},
    "Es Lead Caliente?":{"main":[[{"node":"Notificar Ventas (WhatsApp)","type":"main","index":0}],[{"node":"Registrar Lead (Sheet/Airtable)","type":"main","index":0}]]},
    "Notificar Ventas (WhatsApp)":{"main":[[{"node":"Responder al Lead","type":"main","index":0}]]},
    "Registrar Lead (Sheet/Airtable)":{"main":[[{"node":"Responder al Lead","type":"main","index":0}]]}
  },
  "settings": {"executionOrder":"v1"},
  "_produccion": {
    "webhook_url": "https://a2kdigitalstudio2025.app.n8n.cloud/webhook/d9032b6e-3664-49d6-a07b-896cd5cbd811/lead-nuevo-a2k"
  }
}
