jarvis-profe/n8n-flows-backup/05-triage-medico-clinicas.json
{
  "name": "Triage Médico y Recordatorio Inteligente de Citas - A2K Demo",
  "nodes": [
    {"id":"a5ea532a-4ae8-4fd3-9f06-797aa8ba3df8","name":"Recibir Mensaje del Paciente","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,288],"parameters":{"httpMethod":"POST","path":"mensaje-paciente-clinica","authentication":"none","responseMode":"responseNode","options":{}},"webhookId":"1ee8fd54-cbb0-43ba-a494-e8a6905fe09e"},
    {"id":"b78c0e96-a17f-4688-b546-810b02d6a476","name":"Armar Prompt de Triage Medico","type":"n8n-nodes-base.code","typeVersion":2,"position":[224,288],"parameters":{"mode":"runOnceForAllItems","jsCode":"const p = $input.first().json.body || $input.first().json;\nconst nombre = p.nombre || \"Paciente\";\nconst telefono = p.telefono || \"\";\nconst mensaje = p.mensaje || \"\";\nconst citaId = p.cita_id || \"\";\n\nconst system_prompt = \"Eres el asistente de triage de una clinica/consultorio medico. Clasificas mensajes entrantes de pacientes por WhatsApp o formulario.\\n\\nMensaje del paciente:\\n- nombre: \" + nombre + \"\\n- telefono: \" + telefono + \"\\n- mensaje: \" + mensaje + \"\\n- cita_id (si responde a un recordatorio de cita): \" + citaId + \"\\n\\nReglas de clasificacion:\\n- URGENCIA: sintomas graves (dolor de pecho, dificultad para respirar, sangrado, fiebre muy alta, perdida de conciencia) que requieren atencion inmediata.\\n- CITA_NUEVA: quiere agendar una cita o consulta, sin sintomas de urgencia.\\n- CONFIRMAR_ASISTENCIA: esta respondiendo a un recordatorio de cita (confirma, cancela o pide reagendar).\\n- OTRO: pregunta administrativa, spam, o mensaje sin accion clara.\\n\\nResponde UNICAMENTE con un JSON valido, sin texto extra:\\n- categoria: URGENCIA, CITA_NUEVA, CONFIRMAR_ASISTENCIA u OTRO\\n- urgencia: ALTA, MEDIA o BAJA\\n- razon: explicacion breve (1 frase)\\n- respuesta_sugerida: mensaje corto, calido y profesional en espanol para el paciente. Si es URGENCIA, indica claramente que acuda de inmediato al centro de salud mas cercano o llame a emergencias. Maximo 3 frases.\";\n\nreturn [{ json: Object.assign({}, p, { system_prompt: system_prompt }) }];"}},
    {"id":"4044bcb8-633d-4b27-b3a5-f416f8dd1fa9","name":"IA Local (Ollama) - Triage Medico","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[448,288],"parameters":{"method":"POST","url":"<__PLACEHOLDER_VALUE__URL del tunel Cloudflare hacia tu Ollama local (ej: https://xxxx.trycloudflare.com/api/chat)__>","sendHeaders":true,"headerParameters":{"parameters":[{"name":"content-type","value":"application/json"}]},"sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={{ JSON.stringify({ model: 'qwen2.5:3b', stream: false, format: 'json', options: { num_predict: 350, temperature: 0.2 }, messages: [ { role: 'system', content: $json.system_prompt }, { role: 'user', content: 'Clasifica este mensaje y responde con el JSON pedido.' } ] }) }}","options":{}}},
    {"id":"a83abcc7-a738-40bd-86d2-519302ee9dbd","name":"Parsear Clasificacion Medica","type":"n8n-nodes-base.code","typeVersion":2,"position":[672,288],"parameters":{"mode":"runOnceForAllItems","jsCode":"const original = $(\"Armar Prompt de Triage Medico\").first().json;\nconst resp = $input.first().json;\nconst textoBruto = resp.message.content;\nconst limpio = textoBruto.trim().replace(/^```json\\s*/i, \"\").replace(/```\\s*$/, \"\");\nconst contenido = JSON.parse(limpio);\nreturn [{ json: Object.assign({}, contenido, { nombre: original.nombre, telefono: original.telefono, cita_id: original.cita_id || \"\" }) }];"}},
    {"id":"07fb3648-0e37-48e8-b313-274e0f49161b","name":"Enrutar por Categoria Medica","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[896,256],"parameters":{"rules":{"values":[{"outputKey":"urgencia","conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.categoria }}","operator":{"type":"string","operation":"equals"},"rightValue":"URGENCIA"}],"combinator":"and"}},{"outputKey":"cita_nueva","conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.categoria }}","operator":{"type":"string","operation":"equals"},"rightValue":"CITA_NUEVA"}],"combinator":"and"}},{"outputKey":"confirmar","conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ $json.categoria }}","operator":{"type":"string","operation":"equals"},"rightValue":"CONFIRMAR_ASISTENCIA"}],"combinator":"and"}}]},"options":{"fallbackOutput":"extra","renameFallbackOutput":"Otro"}}},
    {"id":"22ad2f43-1f1e-4734-b0d4-6b9376056e75","name":"Notificar Guardia (WhatsApp)","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1344,0],"parameters":{"method":"POST","url":"<__PLACEHOLDER_VALUE__URL del tunel Cloudflare hacia el WhatsApp de la clinica (ej: https://xxxx.trycloudflare.com/send-text)__>","sendBody":true,"contentType":"json","specifyBody":"json","jsonBody":"={{ JSON.stringify({ phone: \"TELEFONO_GUARDIA\", message: \"URGENCIA - \" + $json.nombre + \" (\" + $json.telefono + \"): \" + $json.razon }) }}","options":{}}},
    {"id":"42f4cc5e-d65f-4107-be08-070b10ddf295","name":"Responder al Paciente","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[1568,288],"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ mensaje: $(\"Parsear Clasificacion Medica\").item.json.respuesta_sugerida, categoria: $(\"Parsear Clasificacion Medica\").item.json.categoria }) }}","options":{}}},
    {"id":"9866a52d-23f4-4c89-b276-bfa7cd165246","name":"Revisar Disponibilidad de Agenda","type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[1120,192],"parameters":{"resource":"calendar","operation":"availability","calendar":{"__rl":true,"mode":"list","value":"primary"},"timeMin":"={{ $now.plus(1, \"days\").set({ hour: 9, minute: 0 }) }}","timeMax":"={{ $now.plus(1, \"days\").set({ hour: 9, minute: 30 }) }}","options":{}}},
    {"id":"5f2354df-9638-416f-8589-fb1bad910552","name":"Crear Cita en Calendario","type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[1344,192],"parameters":{"resource":"event","operation":"create","calendar":{"__rl":true,"mode":"list","value":"primary"},"start":"={{ $now.plus(1, \"days\").set({ hour: 9, minute: 0 }) }}","end":"={{ $now.plus(1, \"days\").set({ hour: 9, minute: 30 }) }}","additionalFields":{"summary":"={{ \"Consulta - \" + $(\"Parsear Clasificacion Medica\").item.json.nombre }}","description":"={{ $(\"Parsear Clasificacion Medica\").item.json.razon }}"}}},
    {"id":"0a1694f4-ccab-4fcc-b9b4-a8928f3a5a3c","name":"Registrar Confirmacion de Cita","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1344,384],"parameters":{}},
    {"id":"e8632937-5f4b-4fdc-b9c4-a2e731c900c9","name":"Revision Manual (Otro)","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1344,576],"parameters":{}}
  ],
  "connections": {
    "Recibir Mensaje del Paciente": {"main": [[{"node": "Armar Prompt de Triage Medico", "type": "main", "index": 0}]]},
    "Armar Prompt de Triage Medico": {"main": [[{"node": "IA Local (Ollama) - Triage Medico", "type": "main", "index": 0}]]},
    "IA Local (Ollama) - Triage Medico": {"main": [[{"node": "Parsear Clasificacion Medica", "type": "main", "index": 0}]]},
    "Parsear Clasificacion Medica": {"main": [[{"node": "Enrutar por Categoria Medica", "type": "main", "index": 0}]]},
    "Enrutar por Categoria Medica": {"main": [[{"node": "Notificar Guardia (WhatsApp)", "type": "main", "index": 0}], [{"node": "Revisar Disponibilidad de Agenda", "type": "main", "index": 0}], [{"node": "Registrar Confirmacion de Cita", "type": "main", "index": 0}], [{"node": "Revision Manual (Otro)", "type": "main", "index": 0}]]},
    "Notificar Guardia (WhatsApp)": {"main": [[{"node": "Responder al Paciente", "type": "main", "index": 0}]]},
    "Revisar Disponibilidad de Agenda": {"main": [[{"node": "Crear Cita en Calendario", "type": "main", "index": 0}]]},
    "Crear Cita en Calendario": {"main": [[{"node": "Responder al Paciente", "type": "main", "index": 0}]]},
    "Registrar Confirmacion de Cita": {"main": [[{"node": "Responder al Paciente", "type": "main", "index": 0}]]},
    "Revision Manual (Otro)": {"main": [[{"node": "Responder al Paciente", "type": "main", "index": 0}]]}
  },
  "settings": {"executionOrder": "v1", "availableInMCP": true}
}
