jarvis-profe/n8n-flows-backup/06-captacion-legal-bufetes.json
{
  "name": "Captación y Calificación de Consultas Legales - A2K Demo",
  "nodes": [
    {"parameters":{"httpMethod":"POST","path":"consulta-legal-nueva","responseMode":"responseNode","options":{}},"id":"56532337-6919-497d-8ad9-879990365839","name":"Recibir Consulta Legal","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,288],"webhookId":"1a12bc10-cff4-43f7-892f-a98614eb75a0"},
    {"parameters":{"jsCode":"const p = $input.first().json.body || $input.first().json;\nconst nombre = p.nombre || \"Cliente potencial\";\nconst telefono = p.telefono || \"\";\nconst mensaje = p.mensaje || \"\";\n\nconst system_prompt = \"Eres el asistente de captacion de un bufete de abogados. Calificas consultas legales entrantes por WhatsApp o formulario web.\\n\\nConsulta recibida:\\n- nombre: \" + nombre + \"\\n- telefono: \" + telefono + \"\\n- mensaje: \" + mensaje + \"\\n\\nTarea: clasifica el area de practica, la urgencia y si el caso parece tener merito legal, y redacta una respuesta inicial.\\n\\nReglas:\\n- area_practica: Laboral, Civil, Penal, Mercantil u Otro.\\n- categoria URGENTE: hay un plazo legal corriendo, una detencion, un embargo o una medida cautelar inminente.\\n- categoria VIABLE: el relato tiene elementos concretos que sugieren merito legal, sin urgencia inmediata.\\n- categoria NO_VIABLE: el relato es vago, fuera de las areas de practica del bufete, o sin elementos de merito aparente.\\n- categoria OTRO: spam o mensaje sin intencion clara de consulta legal.\\n\\nResponde UNICAMENTE con un JSON valido, sin texto extra:\\n- categoria: URGENTE, VIABLE, NO_VIABLE u OTRO\\n- area_practica: la que corresponda\\n- razon: explicacion breve (1 frase)\\n- respuesta_sugerida: mensaje corto, profesional y empatico en espanol, agradeciendo el contacto y proponiendo el siguiente paso (agendar una consulta con un abogado, o explicar amablemente que el caso no aplica). Maximo 3 frases.\";\n\nreturn [{ json: Object.assign({}, p, { system_prompt: system_prompt }) }];"},"id":"994b51b4-2a23-46d9-870d-121b2f823f88","name":"Armar Prompt de Calificacion Legal","type":"n8n-nodes-base.code","typeVersion":2,"position":[224,288]},
    {"parameters":{"method":"POST","url":"<__PLACEHOLDER_VALUE__URL del tunel Cloudflare hacia tu Ollama local (ej: https://xxxx.trycloudflare.com/api/chat)__>","sendHeaders":true,"headerParameters":{"parameters":[{"name":"content-type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ model: 'qwen2.5:3b', stream: false, format: 'json', options: { num_predict: 350, temperature: 0.2 }, messages: [ { role: 'system', content: $json.system_prompt }, { role: 'user', content: 'Califica esta consulta y responde con el JSON pedido.' } ] }) }}","options":{}},"id":"63bb8f05-20b5-4c2b-8f32-ad1744dca196","name":"IA Local (Ollama) - Calificar Consulta","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[448,288]},
    {"parameters":{"jsCode":"const original = $(\"Armar Prompt de Calificacion Legal\").first().json;\nconst resp = $input.first().json;\nconst textoBruto = resp.message.content;\nconst limpio = textoBruto.trim().replace(/^```json\\s*/i, \"\").replace(/```\\s*$/, \"\");\nconst contenido = JSON.parse(limpio);\nreturn [{ json: Object.assign({}, contenido, { nombre: original.nombre, telefono: original.telefono }) }];"},"id":"9e24f2d2-65e5-4517-aedb-a704ffc1551d","name":"Parsear Calificacion Legal","type":"n8n-nodes-base.code","typeVersion":2,"position":[672,288]},
    {"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.categoria }}","operator":{"type":"string","operation":"equals"},"rightValue":"URGENTE","id":"4c1057a1-0e9b-40af-b903-c81ef85a2a35"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.categoria }}","operator":{"type":"string","operation":"equals"},"rightValue":"VIABLE","id":"83be99a0-3826-4890-a2e7-5982dc4085cf"}],"combinator":"and"}},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.categoria }}","operator":{"type":"string","operation":"equals"},"rightValue":"NO_VIABLE","id":"9669b87e-6b47-4481-a800-ff441f9679bb"}],"combinator":"and"}}]},"options":{"fallbackOutput":"extra","renameFallbackOutput":"Otro"}},"id":"f60d265a-4685-4488-9905-1b0d79034d35","name":"Enrutar por Categoria Legal","type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[896,256]},
    {"parameters":{"method":"POST","url":"<__PLACEHOLDER_VALUE__URL del tunel Cloudflare hacia el WhatsApp del bufete (ej: https://xxxx.trycloudflare.com/send-text)__>","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ phone: \"TELEFONO_SOCIO\", message: \"Consulta URGENTE (\" + $json.area_practica + \") - \" + $json.nombre + \" (\" + $json.telefono + \"): \" + $json.razon }) }}","options":{}},"id":"e6305e74-c128-4080-bd39-e41b917568a6","name":"Notificar Socio Senior (WhatsApp)","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1120,0]},
    {"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ mensaje: $(\"Parsear Calificacion Legal\").item.json.respuesta_sugerida, categoria: $(\"Parsear Calificacion Legal\").item.json.categoria, area_practica: $(\"Parsear Calificacion Legal\").item.json.area_practica }) }}","options":{}},"id":"7f46103d-05bf-480e-884a-51158c0a980f","name":"Responder al Cliente Potencial","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[1344,288]},
    {"parameters":{},"id":"5a133448-e299-4fcf-bf23-2b8657ea4a7d","name":"Registrar Caso Viable (CRM)","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1120,192]},
    {"parameters":{},"id":"0405c0ac-1a50-4569-a06b-2e091fb36387","name":"Archivar No Viable","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1120,384]},
    {"parameters":{},"id":"d9f57991-19b7-4d7a-ac5b-9d4ad01d5b63","name":"Revision Manual (Otro)","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1120,576]}
  ],
  "connections": {
    "Recibir Consulta Legal": {"main": [[{"node": "Armar Prompt de Calificacion Legal", "type": "main", "index": 0}]]},
    "Armar Prompt de Calificacion Legal": {"main": [[{"node": "IA Local (Ollama) - Calificar Consulta", "type": "main", "index": 0}]]},
    "IA Local (Ollama) - Calificar Consulta": {"main": [[{"node": "Parsear Calificacion Legal", "type": "main", "index": 0}]]},
    "Parsear Calificacion Legal": {"main": [[{"node": "Enrutar por Categoria Legal", "type": "main", "index": 0}]]},
    "Enrutar por Categoria Legal": {"main": [[{"node": "Notificar Socio Senior (WhatsApp)", "type": "main", "index": 0}], [{"node": "Registrar Caso Viable (CRM)", "type": "main", "index": 0}], [{"node": "Archivar No Viable", "type": "main", "index": 0}], [{"node": "Revision Manual (Otro)", "type": "main", "index": 0}]]},
    "Notificar Socio Senior (WhatsApp)": {"main": [[{"node": "Responder al Cliente Potencial", "type": "main", "index": 0}]]},
    "Registrar Caso Viable (CRM)": {"main": [[{"node": "Responder al Cliente Potencial", "type": "main", "index": 0}]]},
    "Archivar No Viable": {"main": [[{"node": "Responder al Cliente Potencial", "type": "main", "index": 0}]]},
    "Revision Manual (Otro)": {"main": [[{"node": "Responder al Cliente Potencial", "type": "main", "index": 0}]]}
  },
  "settings": {"executionOrder": "v1", "availableInMCP": true, "binaryMode": "separate"}
}
