jarvis-profe/n8n-flows-backup/07-calificacion-leads-inmobiliaria.json
{
  "name": "Calificación de Leads y Agendamiento de Visitas - A2K Demo",
  "nodes": [
    {"parameters":{"httpMethod":"POST","path":"interes-propiedad-nuevo","responseMode":"responseNode","options":{}},"id":"45987d27-0b91-4e1d-aa1b-9cc39de5e525","name":"Recibir Interes en Propiedad","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,96],"webhookId":"c0a922c0-dfe0-4a29-bad5-0e19c3950451"},
    {"parameters":{"jsCode":"const p = $input.first().json.body || $input.first().json;\nconst nombre = p.nombre || \"Interesado\";\nconst telefono = p.telefono || \"\";\nconst propiedad = p.propiedad || \"\";\nconst presupuesto = p.presupuesto || \"\";\nconst mensaje = p.mensaje || \"\";\n\nconst system_prompt = \"Eres el asistente de una inmobiliaria. Calificas leads interesados en propiedades por WhatsApp o formulario web.\\n\\nLead recibido:\\n- nombre: \" + nombre + \"\\n- telefono: \" + telefono + \"\\n- propiedad de interes: \" + propiedad + \"\\n- presupuesto declarado: \" + presupuesto + \"\\n- mensaje: \" + mensaje + \"\\n\\nReglas de calificacion:\\n- LISTO_PARA_VISITA: menciona presupuesto o financiamiento concreto y pide ver la propiedad pronto.\\n- EXPLORANDO: muestra interes real pero sin presupuesto definido ni urgencia por visitar.\\n- NO_CALIFICA: presupuesto claramente insuficiente, busca otra zona/tipo, o mensaje generico sin intencion real.\\n\\nResponde UNICAMENTE con un JSON valido, sin texto extra:\\n- categoria: LISTO_PARA_VISITA, EXPLORANDO o NO_CALIFICA\\n- puntuacion: numero de 0 a 100\\n- razon: explicacion breve (1 frase)\\n- respuesta_sugerida: mensaje corto, calido y profesional en espanol. Si es LISTO_PARA_VISITA, confirma que se le agendara una visita pronto. Maximo 3 frases.\";\n\nreturn [{ json: Object.assign({}, p, { system_prompt: system_prompt }) }];"},"id":"a683bdd7-64e2-412f-ac9d-820b8b057c37","name":"Armar Prompt de Calificacion Inmobiliaria","type":"n8n-nodes-base.code","typeVersion":2,"position":[224,96]},
    {"parameters":{"method":"POST","url":"<__PLACEHOLDER_VALUE__URL del tunel Cloudflare hacia tu Ollama local (ej: https://xxxx.trycloudflare.com/api/chat)__>","sendHeaders":true,"headerParameters":{"parameters":[{"name":"content-type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ model: 'qwen2.5:3b', stream: false, format: 'json', options: { num_predict: 350, temperature: 0.2 }, messages: [ { role: 'system', content: $json.system_prompt }, { role: 'user', content: 'Califica este lead y responde con el JSON pedido.' } ] }) }}","options":{}},"id":"b765117c-759a-4918-b93c-3be7dcf5b958","name":"IA Local (Ollama) - Calificar Lead Inmobiliario","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[448,96]},
    {"parameters":{"jsCode":"const original = $(\"Armar Prompt de Calificacion Inmobiliaria\").first().json;\nconst resp = $input.first().json;\nconst textoBruto = resp.message.content;\nconst limpio = textoBruto.trim().replace(/^```json\\s*/i, \"\").replace(/```\\s*$/, \"\");\nconst contenido = JSON.parse(limpio);\nreturn [{ json: Object.assign({}, contenido, { nombre: original.nombre, telefono: original.telefono, propiedad: original.propiedad }) }];"},"id":"d41b1125-7b9a-48bd-9949-faa0db8be9ca","name":"Parsear Calificacion Inmobiliaria","type":"n8n-nodes-base.code","typeVersion":2,"position":[672,96]},
    {"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $json.categoria }}","operator":{"type":"string","operation":"equals"},"rightValue":"LISTO_PARA_VISITA","id":"e3dba440-993a-431a-8dfd-b35c984d93b2"}],"combinator":"and"},"options":{}},"id":"7ee90a35-b835-4e47-ae04-07fba6e43752","name":"Esta Listo para Visita?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[896,96]},
    {"parameters":{"resource":"calendar","calendar":{"__rl":true,"mode":"list","value":"primary"},"timeMin":"={{ $now.plus(1, \"days\").set({ hour: 15, minute: 0 }) }}","timeMax":"={{ $now.plus(1, \"days\").set({ hour: 16, minute: 0 }) }}","options":{}},"id":"e3cda5a6-2c3a-4666-aa07-093caf3591ef","name":"Revisar Disponibilidad de Agente","type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[1120,0]},
    {"parameters":{"calendar":{"__rl":true,"mode":"list","value":"primary"},"start":"={{ $now.plus(1, \"days\").set({ hour: 15, minute: 0 }) }}","end":"={{ $now.plus(1, \"days\").set({ hour: 16, minute: 0 }) }}","additionalFields":{"description":"={{ $(\"Parsear Calificacion Inmobiliaria\").item.json.razon }}","summary":"={{ \"Visita - \" + $(\"Parsear Calificacion Inmobiliaria\").item.json.propiedad + \" (\" + $(\"Parsear Calificacion Inmobiliaria\").item.json.nombre + \")\" }}"}},"id":"82b110f9-e1a5-4df6-8e07-1a7ba8c9bb74","name":"Agendar Visita a Propiedad","type":"n8n-nodes-base.googleCalendar","typeVersion":1.3,"position":[1344,0]},
    {"parameters":{"method":"POST","url":"<__PLACEHOLDER_VALUE__URL del tunel Cloudflare hacia el WhatsApp de la inmobiliaria (ej: https://xxxx.trycloudflare.com/send-text)__>","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ phone: \"TELEFONO_AGENTE\", message: \"Visita agendada: \" + $(\"Parsear Calificacion Inmobiliaria\").item.json.nombre + \" (\" + $(\"Parsear Calificacion Inmobiliaria\").item.json.telefono + \") - \" + $(\"Parsear Calificacion Inmobiliaria\").item.json.propiedad }) }}","options":{}},"id":"1b7c04df-cd9e-4989-92e0-ac0686b3cc3e","name":"Notificar Agente (WhatsApp)","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1568,0]},
    {"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ mensaje: $(\"Parsear Calificacion Inmobiliaria\").item.json.respuesta_sugerida, categoria: $(\"Parsear Calificacion Inmobiliaria\").item.json.categoria }) }}","options":{}},"id":"ad858215-6b3b-4ef0-b40a-11d79c0d0354","name":"Responder al Interesado","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[1792,96]},
    {"parameters":{},"id":"6b08bac4-1c29-488d-bd1a-2e1a15774fff","name":"Registrar para Seguimiento (Nurture)","type":"n8n-nodes-base.noOp","typeVersion":1,"position":[1568,192]}
  ],
  "connections": {
    "Recibir Interes en Propiedad": {"main": [[{"node": "Armar Prompt de Calificacion Inmobiliaria", "type": "main", "index": 0}]]},
    "Armar Prompt de Calificacion Inmobiliaria": {"main": [[{"node": "IA Local (Ollama) - Calificar Lead Inmobiliario", "type": "main", "index": 0}]]},
    "IA Local (Ollama) - Calificar Lead Inmobiliario": {"main": [[{"node": "Parsear Calificacion Inmobiliaria", "type": "main", "index": 0}]]},
    "Parsear Calificacion Inmobiliaria": {"main": [[{"node": "Esta Listo para Visita?", "type": "main", "index": 0}]]},
    "Esta Listo para Visita?": {"main": [[{"node": "Revisar Disponibilidad de Agente", "type": "main", "index": 0}], [{"node": "Registrar para Seguimiento (Nurture)", "type": "main", "index": 0}]]},
    "Revisar Disponibilidad de Agente": {"main": [[{"node": "Agendar Visita a Propiedad", "type": "main", "index": 0}]]},
    "Agendar Visita a Propiedad": {"main": [[{"node": "Notificar Agente (WhatsApp)", "type": "main", "index": 0}]]},
    "Notificar Agente (WhatsApp)": {"main": [[{"node": "Responder al Interesado", "type": "main", "index": 0}]]},
    "Registrar para Seguimiento (Nurture)": {"main": [[{"node": "Responder al Interesado", "type": "main", "index": 0}]]}
  },
  "settings": {"executionOrder": "v1", "availableInMCP": true, "binaryMode": "separate"}
}
