jarvis-profe/n8n-flows-backup/08-notificacion-envios-logistica.json
{
  "name": "Notificación Proactiva de Estado de Envío - A2K Demo",
  "nodes": [
    {"parameters":{"httpMethod":"POST","path":"actualizacion-envio","responseMode":"responseNode","options":{}},"id":"9a808b3c-adaa-4c54-a5ec-6ed463283466","name":"Recibir Actualizacion de Envio","type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[0,80],"webhookId":"0db7b048-a5eb-400f-81d1-5273a1cd72d1"},
    {"parameters":{"jsCode":"const p = $input.first().json.body || $input.first().json;\nconst envioId = p.envio_id || \"\";\nconst clienteNombre = p.cliente_nombre || \"Cliente\";\nconst clienteTelefono = p.cliente_telefono || \"\";\nconst estadoNuevo = p.estado_nuevo || \"\";\nconst eta = p.eta || \"\";\nconst nota = p.nota || \"\";\n\nconst system_prompt = \"Eres el asistente de atencion al cliente de una empresa de logistica y transporte de carga (import-export). Redactas actualizaciones de estado de envio para el cliente.\\n\\nDatos del envio:\\n- envio_id: \" + envioId + \"\\n- cliente: \" + clienteNombre + \"\\n- estado_nuevo: \" + estadoNuevo + \" (valores posibles: en_aduana, en_transito, retrasado, entregado)\\n- eta estimada: \" + eta + \"\\n- nota interna: \" + nota + \"\\n\\nTarea: redacta un mensaje de WhatsApp claro y tranquilizador para el cliente sobre el nuevo estado de su envio, y decide si esta actualizacion necesita alertar tambien al gerente de cuenta.\\n\\nReglas:\\n- prioridad ALTA: el estado es retrasado, o hay un problema aduanal, o el ETA se movio significativamente.\\n- prioridad NORMAL: avance esperado del envio (en_transito, en_aduana sin problema, entregado).\\n\\nResponde UNICAMENTE con un JSON valido, sin texto extra:\\n- prioridad: ALTA o NORMAL\\n- mensaje_cliente: mensaje corto en espanol, claro y tranquilizador, explicando el estado y el proximo paso. Maximo 3 frases.\\n- razon_gerente: si prioridad es ALTA, explica en 1 frase por que el gerente de cuenta debe intervenir; si es NORMAL, deja este campo vacio.\";\n\nreturn [{ json: Object.assign({}, p, { system_prompt: system_prompt, envio_id: envioId, cliente_nombre: clienteNombre, cliente_telefono: clienteTelefono }) }];"},"id":"321a98b0-b6b5-41d0-a4f2-5381fae044df","name":"Armar Prompt de Actualizacion","type":"n8n-nodes-base.code","typeVersion":2,"position":[224,80]},
    {"parameters":{"method":"POST","url":"<__PLACEHOLDER_VALUE__URL del tunel Cloudflare hacia tu Ollama local (ej: https://xxxx.trycloudflare.com/api/chat)__>","sendHeaders":true,"headerParameters":{"parameters":[{"name":"content-type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ model: 'qwen2.5:3b', stream: false, format: 'json', options: { num_predict: 350, temperature: 0.2 }, messages: [ { role: 'system', content: $json.system_prompt }, { role: 'user', content: 'Redacta la actualizacion y responde con el JSON pedido.' } ] }) }}","options":{}},"id":"809d51e4-40f2-44ef-9679-e46086950eac","name":"IA Local (Ollama) - Redactar Actualizacion","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[448,80]},
    {"parameters":{"jsCode":"const original = $(\"Armar Prompt de Actualizacion\").first().json;\nconst resp = $input.first().json;\nconst textoBruto = resp.message.content;\nconst limpio = textoBruto.trim().replace(/^```json\\s*/i, \"\").replace(/```\\s*$/, \"\");\nconst contenido = JSON.parse(limpio);\nreturn [{ json: Object.assign({}, contenido, { envio_id: original.envio_id, cliente_nombre: original.cliente_nombre, cliente_telefono: original.cliente_telefono }) }];"},"id":"6daf50f3-341a-4ada-89ee-f974b968be25","name":"Parsear Actualizacion","type":"n8n-nodes-base.code","typeVersion":2,"position":[672,80]},
    {"parameters":{"method":"POST","url":"<__PLACEHOLDER_VALUE__URL del tunel Cloudflare hacia el WhatsApp de la empresa de logistica (ej: https://xxxx.trycloudflare.com/send-text)__>","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ phone: $json.cliente_telefono, message: $json.mensaje_cliente }) }}","options":{}},"id":"2636e12c-4862-436a-9417-83fb3c60bd6f","name":"Notificar Cliente (WhatsApp)","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[896,80]},
    {"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"leftValue":"={{ $(\"Parsear Actualizacion\").item.json.prioridad }}","operator":{"type":"string","operation":"equals"},"rightValue":"ALTA","id":"a367233b-eba7-414f-8739-1f9849b508b6"}],"combinator":"and"},"options":{}},"id":"939ff05e-06a5-4eba-8da7-3a24062711c9","name":"Requiere Alertar al Gerente?","type":"n8n-nodes-base.if","typeVersion":2.3,"position":[1120,80]},
    {"parameters":{"method":"POST","url":"<__PLACEHOLDER_VALUE__URL del tunel Cloudflare hacia el WhatsApp del gerente de cuenta (ej: https://xxxx.trycloudflare.com/send-text)__>","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ phone: \"TELEFONO_GERENTE\", message: \"Envio \" + $(\"Parsear Actualizacion\").item.json.envio_id + \" (\" + $(\"Parsear Actualizacion\").item.json.cliente_nombre + \") necesita atencion: \" + $(\"Parsear Actualizacion\").item.json.razon_gerente }) }}","options":{}},"id":"4cd8792e-5004-45de-b117-b1d83b3fd880","name":"Alertar Gerente de Cuenta (WhatsApp)","type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1344,0]},
    {"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ ok: true, envio_id: $(\"Parsear Actualizacion\").item.json.envio_id, prioridad: $(\"Parsear Actualizacion\").item.json.prioridad }) }}","options":{}},"id":"32a12f46-0eba-41b6-954c-9e163809a3dd","name":"Confirmar Notificacion Enviada","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.5,"position":[1568,80]}
  ],
  "connections": {
    "Recibir Actualizacion de Envio": {"main": [[{"node": "Armar Prompt de Actualizacion", "type": "main", "index": 0}]]},
    "Armar Prompt de Actualizacion": {"main": [[{"node": "IA Local (Ollama) - Redactar Actualizacion", "type": "main", "index": 0}]]},
    "IA Local (Ollama) - Redactar Actualizacion": {"main": [[{"node": "Parsear Actualizacion", "type": "main", "index": 0}]]},
    "Parsear Actualizacion": {"main": [[{"node": "Notificar Cliente (WhatsApp)", "type": "main", "index": 0}]]},
    "Notificar Cliente (WhatsApp)": {"main": [[{"node": "Requiere Alertar al Gerente?", "type": "main", "index": 0}]]},
    "Requiere Alertar al Gerente?": {"main": [[{"node": "Alertar Gerente de Cuenta (WhatsApp)", "type": "main", "index": 0}], [{"node": "Confirmar Notificacion Enviada", "type": "main", "index": 0}]]},
    "Alertar Gerente de Cuenta (WhatsApp)": {"main": [[{"node": "Confirmar Notificacion Enviada", "type": "main", "index": 0}]]}
  },
  "settings": {"executionOrder": "v1", "availableInMCP": true, "binaryMode": "separate"}
}
